@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --mainBlueColor: #1d9bf0;
  --mainLighterBlueColor: #a9c1ff;
  --mainFontFamily: "Poppins", sans-serif;
}

body {
  background: #ffffff;
  color: #555;
  font-weight: 400;
  line-height: 1.5;
  width: 100%;
  font-family: var(--mainFontFamily) !important;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0px;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0px;
}

.fadeInRight {
  opacity: 0;
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation: fadeInRight 0.5s forwards;
  animation: fadeInRight 0.5s forwards;
}

@-webkit-keyframes fadeInRight {
  from {
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInRight {
  from {
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.popInBottom {
  -webkit-animation-name: popInBottom;
  animation-name: popInBottom;

  -webkit-animation: popInBottom 0.5s forwards;
  animation: popInBottom 0.5s forwards;
}
@keyframes popInBottom {
  0% {
    -webkit-transform: translate3d(0, 200px, 0) scale3d(0.1, 0.1, 0.1);
    transform: translate3d(0, 200px, 0) scale3d(0.1, 0.1, 0.1);
    opacity: 0;
  }
  40% {
    opacity: 1;
    -webkit-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    -webkit-transform: translate3d(0, 0, 0) scale3d(1.08, 1.08, 1.08);
    transform: translate3d(0, 0, 0) scale3d(1.08, 1.08, 1.08);
  }
  60% {
    -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  }
  80% {
    -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform: translate3d(0, 0, 0) scale3d(1.03, 1.03, 1.03);
    transform: translate3d(0, 0, 0) scale3d(1.03, 1.03, 1.03);
  }
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  }
}
.cardLoading {
  width: 100%;
  padding: 100px 10px;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
}

.is_loading {
  background: #eee;
  background: linear-gradient(110deg, #fff 8%, #ececec 18%, #fff 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}

.hover_input:hover {
  background-color: rgb(231, 235, 230) !important;
  cursor: pointer;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

.card.no_card {
  background: #fff;
  width: 100%;
  padding: 120px 20px !important;
  margin-top: 30px;
  margin-bottom: 80px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.card.no_card p {
  font-size: 16px;
  margin-bottom: 0px !important;
  line-height: 37px !important;
  font-weight: bold;
}

.main-wrap {
  width: 100%;
}

.main_wrapper {
  width: 100%;
  opacity: 1;
  transition: all 0.25s ease-in;
  overflow: hidden;
  position: relative;
  background: inherit;
  color: #222;
  height: 100vh;
  overflow: hidden;
}

.content-wrapper {
  margin-left: 14.5rem;
  z-index: 0;
  transition: all 0.2s ease;
  padding: 50px 40px 20px;
  overflow-y: scroll;
  height: 100vh;
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
}

.content-wrapper::-webkit-scrollbar {
  width: 0px !important;
}

.page_title {
  font-family: var(--mainFontFamily);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 34px;
  letter-spacing: 1px;
  color: #14142b;
  margin-bottom: 50px;
}

.menu_burgar {
  width: 100%;
  display: none;
  text-align: right;
  margin-top: -30px;
}

.menu_burgar i {
  font-size: 28px;
  cursor: pointer;
}

.page-contents {
  padding-top: 30px;
}

.users {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 40px 25px;
  margin-bottom: 90px;
}

.userCard {
  width: 100%;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
}

.userCard_top {
  position: relative;
  width: 100%;
}

.userCard_top {
  width: 100%;
}

.userCard_top img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.userCard_top i {
  position: absolute;
  right: 20px;
  top: 10px;
  background: #bbbbbb;
  color: #fff;
  border-radius: 10px;
  font-size: 19px;
  padding: 8px;
  cursor: pointer;
}

.added .userCard_top i {
  color: #ff4135;
  background: #fff;
}

.userCard_top_image {
  margin-top: -30px;
  padding-left: 10px;
}

.userCard_top_image img {
  width: 55px;
  height: 55px;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.userCard_content {
  background: #fff;
  width: 100%;
  padding: 10px 14px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userCard_content .userCard_content_item h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.8);
}

.userCard_content .userCard_content_item p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.49);
}

.userCard_content .userCard_content_item span {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #1d9bf0;
  cursor: pointer;
}

.footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer span {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  color: #8692a6;
}

.footer .footer_select {
  width: 197px;
  padding: 10px 20px;
  border: 1px solid #949ba6;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
}

.footer .footer_select .footer_select_left {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.footer .footer_select .footer_select_left img {
  width: 15px;
  height: 15px;
}

.footer .footer_select .footer_select_left span {
  font-size: 13px;
  line-height: 17px;
  color: #8692a6;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.footer .footer_select i {
  font-size: 9px;
}

@media screen and (max-width: 980px) {
  .content-wrapper {
    margin-left: 0px;
    padding-bottom: 20px;
  }

  .devHire-siderbar {
    transform: translateX(-1000%);
  }

  .devHire-siderbar.showMenu {
    transform: translateX(0);
  }

  .devHire-sidebar-overlay.showMenu {
    display: block !important;
  }

  .menu_burgar {
    display: block;
  }
}

@media screen and (max-width: 580px) {
  .content-wrapper {
    padding: 40px 14px 22px;
  }

  .card.no_card {
    margin-top: 20px;
    margin-bottom: 80px;
  }

  .page_title {
    font-size: 18px;
  }

  .page-contents {
    padding-top: 30px;
  }

  .users {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 40px 15px;
  }

  .footer span {
    font-size: 14px;
  }

  .footer .footer_select {
    width: 177px;
    padding: 10px;
  }

  .footer .footer_select .footer_select_left img {
    width: 12px;
    height: 12px;
  }

  .footer .footer_select .footer_select_left span {
    font-size: 12px;
  }
}
